<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">

	<ion-item lines="none">

		<ion-avatar slot="start">
			<img src="https://1.bp.blogspot.com/-DBedRBSay24/X7lTNtv2CsI/AAAAAAAABZw/8NQCv3HlUngzXUg8xZ0prXwzZXw41fOrACLcBGAsYHQ/w945-h600-p-k-no-nu/userImage.png">
    </ion-avatar>
			<ion-label>
				<p>Halo,</p>
				<h3>Ayo belajar sejarah Candi Sewu</h3>
			</ion-label>

	</ion-item>

</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
      <ion-slide>
        
      </ion-slide>
  </div>

  <div class="container">

    <h2>Sejarah Candi Sewu</h2>

    <ion-item>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-label class="ion-text-wrap">
							<h4>
                Candi Sewu diperkirakan didirikan pada abad ke-8 pada masa dinasti Syailendra, dimana pembangunan Candi Sewu hampir bersamaan dengan pembangunan Candi Borobudur. Hal ini didasarkan dalam penemuan prasasti pada tahun 1960-an dimana pada Prasasti Kelurak tercantum tahun 782 Masehi dan Prasasti Manjusringrha yang bertuliskan 792 Masehi.<br><br>
                <img src="https://1.bp.blogspot.com/-pp48J-WZLZk/X7n8RCu-L0I/AAAAAAAABaM/4IQvRXSPqyUxrswC4-GWRI4zL6CCVDp2QCLcBGAsYHQ/s320/2.png" alt=""><br><br>
                Candi Sewu dibangun pada masa kepemimpinan kerajaan mataram kuno di bawah pemerintahan Rakai Panangkaran (Raja terpopuler Dinasti Syailendra pada 746 M - 784 M).<br><br>
                <img src="https://1.bp.blogspot.com/-hm_M8FwA-WQ/X7n8RR3u3DI/AAAAAAAABaQ/086h08HXZC0_MGj00vD8CcG69znHnwFkgCLcBGAsYHQ/s320/3.png" alt=""><br><br>
                28 Oktober 2006, terjadi gempa besar yang mengguncang Yogyakarta dan sekitarnya yang merusak beberapa bangunan Candi Sewu. Bagian yang paling parah terdampak adalah bagian utama candi, dimana beberapa batu dari bangunan jatuh ke tanah dan terlihat beberapa retakan di candi. Hingga pada akhirnya dipasang kerangka besi untuk membuat candi ini tegak lagi dan menahan agar candi utama di Candi Sewu bisa tetap berdiri kokoh.
              </h4>
						</ion-label>
          </ion-col>
          <ion-col size="2">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </div>

</ion-content>